node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
README.md
.env
.env.backup
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
.idea
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/config.php
vendor
.env.*.backup
public/build
public/hot
public/storage
