version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    container_name: kubanoms_app
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - sqlite_data:/var/www/database
      - storage_data:/var/www/storage


volumes:
  sqlite_data:
  storage_data:
